@font-face {
  font-display: swap;
  font-family: "Play";
  font-weight: 400;
  src: url("../fonts/play-v19-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Play";
  font-weight: 700;
  src: url("../fonts/play-v19-latin-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-weight: 400;
  src: url("../fonts/roboto-v32-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-weight: 700;
  src: url("../fonts/roboto-v32-latin-700.woff2") format("woff2");
}

:root {
  --color-brand: #2b7fff;
  --color-primary-light: #ffffff;
  --color-primary-dark: #011c44;
  --color-secondary-grey-dark: #4a4a4a;
  --color-secondary-grey-light: #747272;
  --color-secondary-blue-dark: #011f4a;
  --color-secondary-blue-yellow: #ffd02b;
}

/* Global */
body {
  color: var(--color-primary-dark);
  font-size: 18px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  line-height: 1.17;
}

address {
  font-style: normal;
}

ul {
  list-style-type: none;
}
/* Button */
.button-order {
  color: var(--color-primary-light);
  background-color: var(--color-brand);
  border: 2px solid var(--color-brand);
  border-radius: 32px;
  cursor: pointer;
  font-weight: 600;
}

.button-free {
  color: var(--color-primary-light);
  background-color: var(--color-brand);
  border: 2px solid var(--color-brand);
  border-radius: 32px;
  cursor: pointer;
}

.button-order:hover {
  background-color: transparent;
  color: var(--color-primary-dark);
}

.button-free:hover {
  background-color: transparent;
}

/* Link */
.header-link {
  color: var(--color-primary-dark);
  text-decoration: none;
}

.header-link:hover {
  color: var(--color-brand);
  font-weight: 700;
}

/* Hero section */
.hero-title {
  color: var(--color-brand);
  font-family: Play;
  font-size: 140px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 0.81;
}

.pre-hero-title {
}

.label-button {
  color: var(--color-secondary-grey-dark);
  font-size: 12px;
  line-height: 1.5;
}

/* Sections */

.section-title {
  font-family: Play, sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 1.16;
}

.section-title .accent {
  color: var(--color-brand);
}

.info-about {
}

/* Section About */
.about-text {
  font-size: 22px;
  line-height: 1.73;
}
.about-text span {
  font-weight: 700;
}

/* Wy We section */
.why-wy-article p {
  line-height: 1.34;
}
/* Our Service */

.services-title {
  color: var(--color-primary-light);
  font-size: 22px;
  line-height: 26px;
}

/* Find us */

.find-form h3 {
  color: var(--color-primary-light);
  font-size: 22px;
  font-weight: 600;
  line-height: 1.18;
}

.find-form span {
  color: var(--color-brand);
}

.find-form p {
  color: var(--color-secondary-grey-light);
  font-size: 12px;
  line-height: 1.5;
}

.find-form a {
  color: var(--color-secondary-grey-light);
  font-size: 12px;
  line-height: 1.5;
}

/* Footer */
.footer {
  color: var(--color-secondary-grey-light);
  background-color: var(--color-primary-dark);
}

.link-footer {
  color: var(--color-primary-light);
  text-decoration: none;
  font-size: 16px;
  line-height: 1.19;
}

.address-link {
  color: var(--color-primary-light);
  font-size: 16px;
  line-height: 1.19;
  text-decoration: none;
}

.link-footer:hover {
  color: var(--color-brand);
}

.address-link:hover {
  color: var(--color-brand);
}

.footer-confident {
  color: var(--color-primary-light);
  font-size: 16px;
  line-height: 1.19;
  text-decoration: none;
}

.footer-confident:hover {
  color: var(--color-brand);
}

.copyright {
  color: var(--color-secondary-grey-light);
  font-size: 13px;
  line-height: 15px;
}
